<% content_for(:title_tag) do %>
  Mailbox | skill4.space: Match your skills with a space that needs it
<% end %>

<div class="mailbox-container container">
  <h1><i class="fa fa-envelope-o"></i> Your Mailbox</h1>
  <% if @conversations.count <= 0 %>
  	  <div class="no-messages text-center">
        <p class="lead">You have no message yet.</p>
        <p>Find a best place for you</p>
        <%= link_to root_path, class: "btn btn-success" do %>
          <i class="fa fa-search"></i> SEACH SPACES
        <% end %>
    	<p class="or">or</p>
    	<p>Add new lisitng as an space owner</p>
    	<%= link_to new_space_path, class: "btn btn-success" do %>
	       <i class="fa fa-list-alt"></i> CREATE A NEW LISTING
	      <% end %>
      </div>
  <% else %>
	  <div class="table-responsive">
	    <table class="table table-responsive">
	      <thead>
	        <tr>
	          <th class="text-center">USER</th>
	          <th class="text-center">LISTING</th>
	          <th id="message-content">MESSAGE CONTENT</th>
	          <th class="text-center">ACTION</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<% @conversations.each do |conversation| %>
		  	  	<tr>
		  	  		<td class="message-users">

                <% if current_user == conversation.messages.first.recipients.first %>

                  <% if conversation.messages.first.recipients.last.photo.present? %>
                    <% avatar_url = conversation.messages.first.recipients.last.photo.path %>
                  <% else %>
                    <% avatar_url = conversation.messages.first.recipients.last.facebook_picture_url || "http://www.queens.edu/_resources/img/placeholders/person-placeholder.jpg" %>
                  <% end %>
                  <%= cl_image_tag avatar_url, class: "profile-avatar" %>
                  <p class="text-center"><%= conversation.messages.first.recipients.last.name %></p>

                <% else %>

                  <% if conversation.messages.first.recipients.first.photo.present? %>
                    <% avatar_url = conversation.messages.first.recipients.first.photo.path %>
                  <% else %>
                    <% avatar_url = conversation.messages.first.recipients.first.facebook_picture_url || "http://www.queens.edu/_resources/img/placeholders/person-placeholder.jpg" %>
                  <% end %>
                  <%= cl_image_tag avatar_url, class: "profile-avatar" %>
                  <p class="text-center"><%= conversation.messages.first.recipients.first.name %></p>

                <% end %>

                <%# if conversation.messages.first.sender.photo.nil? %>
			              <%#= image_tag "http://www.queens.edu/_resources/img/placeholders/person-placeholder.jpg", class: "profile-avatar" %>
			          <%# else %>
					          <%#= cl_image_tag conversation.messages.first.sender.photo.path, class: "profile-avatar"  %>
			          <%# end %>
			             <!-- <p class="text-center"><%#= conversation.messages.first.sender.name %></p> -->

		           </td>
	             <td><p><%= conversation.subject %></p></td>
		           <td>
			          <p class="latest-message"><span>Latest message: <%= conversation.messages.last.created_at.getlocal.strftime("%Y/%m/%d %H:%M%p") %></span> from

                  <% if current_user == conversation.messages.last.sender %>
                    <%= conversation.messages.last.sender.name %>
                  <% else %>
                    <% @correspondent = conversation.messages.last.recipients - [current_user] %>
                    <%= @correspondent.first.name %>
                  <% end %>
                  <%# raise %>


                  <%# if current_user == conversation.messages.last.recipients.first %>
                    <%#= conversation.messages.last.recipients.last.name %>
                  <%# else %>
                    <%#= conversation.messages.last.recipients.first.name %>
                  <%# end %>


                </p>
			          <p><%= conversation.messages.last.body %></p>
		           </td>
		           <td>
			  	  		<%= link_to conversation_path(conversation), class: "btn btn-success" do %>
							    <i class="fa fa-envelope-o"></i> Check message
				  		   <% end %>
		           </td>
	          </tr>
			  <% end %>
	      </tbody>
	    </table>
	  </div>
  <% end %>

</div>
