
<div class="conversation-container">
  <div class="container">
    <div class="row">
      <h1>Messages</h1>
      <div class="space-info">
        <div class="table-responsive">
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th class="text-center">PHOTO</th>
                <th class="text-center">LISTING NAME</th>
                <th class="text-center">BOOKING STATUS</th>
              </tr>
            </thead>
            <% if @booking %>
              <tbody>
                <tr>
                  <td>
                    <%= cl_image_tag @booking.space.photos.first.path, class: "booking-info-photo" %>
                  </td>
                  <td>
                    <p><%= link_to @booking.space.name, space_path(@booking.space) %></p>
                  </td>
                  <td>
                    <p><%= @booking.status %></p>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <% @conversation.receipts_for(current_user).sort_by(&:created_at).each do |receipt| %>
        <div class="message-wrapper">
          <div class="sender-profile">
            <!-- Need to modify condition -->
            <% if receipt.message.sender.photo.nil? %>
              <%= image_tag "http://www.queens.edu/_resources/img/placeholders/person-placeholder.jpg", class: "profile-avatar" %>
            <% else %>
              <%= cl_image_tag receipt.message.sender.photo.path, class: "profile-avatar" %>
            <% end %>
          </div>
          <div class="message-body">
            <p>FROM: <%= receipt.message.sender.name %> <span>on <%= receipt.message.created_at.getlocal.strftime("%Y/%m/%d %H:%M%p") %></span></p>
            <p><%= receipt.message.body %></p>
          </div>
        </div>
      <% end %>
      <p class="lead">Type your message here:</p>
      <%= form_tag conversation_messages_path(@conversation), method: :post,  class: "message-box" do %>
        <div>
          <%= text_area_tag :body %>
        </div>

        <%= submit_tag "Send", class: "btn btn-successs" %>
      <% end %>
    </div>
  </div>
</div>

