<% content_for(:title_tag) do %>
  Message | skill4.space: Match your skills with a space that needs it
<% end %>

<div class="conversation-container">
  <div class="container">
    <div class="row">
      <h1>Messages</h1>
      <div class="space-info">
        <div class="table-responsive">
          <table class="table table-hover table-responsive">
            <thead>
              <tr>
                <th class="text-center">PHOTO</th>
                <th class="text-center">LISTING NAME</th>
                <th class="text-center">BOOKING STATUS</th>
              </tr>
            </thead>
            <% if @booking %>
              <tbody>
                <tr>
                  <td>
                    <%= cl_image_tag @booking.space.photos.first.path, class: "booking-info-photo" %>
                  </td>
                  <td>
                    <p><%= link_to @booking.space.name, space_path(@booking.space) %></p>
                  </td>
                  <td>
                    <p><%= @booking.status %></p>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>

      <div id="message-container">
      <% @conversation.receipts_for(current_user).sort_by(&:created_at).each do |receipt| %>
        <div class="message-wrapper" data-receipt-id=<%= receipt.id %>>
          <div class="sender-profile">
            <!-- Need to modify condition -->
            <% if receipt.message.sender.photo.nil? %>
              <%= image_tag "http://www.queens.edu/_resources/img/placeholders/person-placeholder.jpg", class: "profile-avatar" %>
            <% else %>
              <%= cl_image_tag receipt.message.sender.photo.path, class: "profile-avatar" %>
            <% end %>
          </div>
          <div class="message-body">
            <p>FROM: <%= receipt.message.sender.name %> <span>on <%= receipt.message.created_at.getlocal.strftime("%Y/%m/%d %H:%M%p") %></span></p>
            <p><%= receipt.message.body %></p>
          </div>
        </div>
      <% end %>
      </div>

      <p class="lead">Type your message here:</p>
      <%= form_tag conversation_messages_path(@conversation), method: :post, remote: true,  class: "message-box" do %>
        <div>
          <%= text_area_tag :body %>
        </div>

        <%= submit_tag "Send", class: "btn btn-successs" %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

      function buildMESSAGE(message) {
        const newmessage = $(`
          <div class="message-wrapper" data-receipt-id=${message.last_receipt_id}>
            <div class="sender-profile">
              <img class="profile-avatar" src="${message.sender_photo_path}" >
            </div>
            <div class="message-body">
             <p>FROM: ${message.sender_name} <span>on ${message.created}</span></p>
              <p>${message.body}</p>
            </div>
          </div>`).hide()

        $('#message-container').append(newmessage);
        // const messages = $('#message-container').append(newmessage);
        newmessage.slideDown();
        //'tbody'に'tr'以下のhtml全てをappendする
      }

      function update(){ //この関数では以下のことを行う
        if($('.message-wrapper')[0]){ //もし'messages'というクラスがあったら
          var receipt_id = $('.message-wrapper:last').data('receipt-id'); //一番最後にある'messages'というクラスの'id'というデータ属性を取得し、'message_id'という変数に代入
        } else { //ない場合は
          var receipt_id = 0; //0を代入
        }
        $.ajax({ //ajax通信で以下のことを行う
          url: location.href, //urlは現在のページを指定
          type: 'GET', //メソッドを指定
          data: { //railsに引き渡すデータは
            receipt: { id: receipt_id } //このような形(paramsの形をしています)で、'id'には'message_id'を入れる
          },
          dataType: 'json' //データはjson形式
          // dataType: 'text/javascript' //データはjs形式
        })
        .always(function(data){ //通信したら、成功しようがしまいが受け取ったデータ（@new_message)を引数にとって以下のことを行う
          $.each(data, function(i, data){ //'data'を'data'に代入してeachで回す
            buildMESSAGE(data); //buildMESSAGEを呼び出す
            // console.log(data.receipt_id); //buildMESSAGEを呼び出す

          });
          setTimeout(update, 1000);
        });
      }
  update();
    });
  <% end %>
<% end %>
