<div class="container">
    <% @spaces.each do |space| %>
    <ul>
      <li>title: <%= space.title %></li>
      <li>id: <%= space.id %></li>
      <li>category: <%= space.category %></li>
      <li>name: <%= space.name %></li>
      <li>address:<%= space.address %></li>
      <li>daily_price: <%= space.daily_price %></li>
      <li>required_skill: <%= space.required_skill %></li>
      <li>is_barter: <%= space.is_barter %></li>
    </ul>
    <% end %>
</div>
