<% content_for(:title_tag) do %>
  Search result of spaces | skill4.space: Match your skills with a space that needs it
<% end %>

<div id="map" style="width: 100%; height: 400px;"></div>

<div class="index-wrapper">
  <div class="container">
    <div class="row">
      <div class="index-header">
        <h1>Search Results</h1>
      </div>
      <!-- Filters will be here -->
      <div class="index-filter">
        <%= form_tag(spaces_path, method: :get) do %>
        <%= select_tag "city",
          options_for_select(@available_cities),
           class: "input-lg form-top" %>
        <%= select_tag "category",
          options_for_select(@available_categories),
           class: "input-lg form-top" %>
        <%= select_tag "required_skill",
          options_for_select(@available_skills),
          class: "input-lg form-top" %>
        <%= submit_tag 'Filter', name: nil, class: "btn btn-success btn-lg" %>
      <% end %>
      </div>


      <div class="row-cards">
        <% @spaces.reverse.each do |space| %>
          <% if space.bookings.empty? %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-wrapper">
                <%= link_to space_path(space) do %>
                  <% if space.photos.empty? %>
                    <div class="card" style="background-image: url(http://via.placeholder.com/350x150);">
                    </div>
                  <% else %>
                    <div class="card" style="background-image: url('<%= cl_image_path space.photos.first.path %>');">
                    </div>
                  <% end %>
                  <h2><%= space.title %></h2>
                  <div class="index-tags">
                    <div class="category-tag">
                      <div>
                        <i class="fa fa-home"></i> <%= space.category %>
                      </div>
                    </div>
                    <%# if space.is_barter == true %>
                      <div class="category-tag barter">
                        <div>
                          <i class="fa fa-handshake-o"></i> Barter
                        </div>
                      </div>
                    <%# else %>
                      <!-- <div class="category-tag paid">
                        <div>
                          <i class="fa fa-money"></i> Paid
                        </div>
                      </div> -->
                    <%# end %>
                  </div>
                  <h3>@<%= space.name %></h3>
                  <div class="space-location">
                    <p><i class="fa fa-map-marker"></i> <%= space.address %></p>
                  </div>
                  <%# if space.is_barter == true %>
                    <div class="space-price text-right">
                      <p>provide your <span class="skill"><strong><%= space.required_skill %></strong></span> skill<br>to use this space</p>
                      <!-- <p>or pay <strong><%#= number_to_currency(space.daily_price, unit: "¥", separator: ",", precision: 0) %></strong>/day to use</p> -->
                    </div>
                  <%# else %>
                    <!-- <div class="space-price text-right">
                      <p><span><strong><%#= number_to_currency(space.daily_price, unit: "¥", separator: ",", precision: 0) %></strong></span>/day to use</p>
                    </div> -->
                  <%# end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
