<div id="map" style="width: 100%; height: 600px;"></div>

<div class="container">
    <% @spaces.each do |space| %>
    <ul>
      <li>title: <%= space.title %></li>
      <li>id: <%= space.id %></li>
      <li>category: <%= space.category %></li>
      <li>name: <%= space.name %></li>
      <li>address:<%= space.address %></li>
      <li>daily_price: <%= space.daily_price %></li>
      <li>required_skill: <%= space.required_skill %></li>
      <li>is_barter: <%= space.is_barter %></li>
    </ul>
    <% end %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
