<% content_for(:title_tag) do %>
  Add new listing | skill4.space: Match your skills with a space that needs it
<% end %>

<div class="new-space-container">
  <div class="container">
    <div class="row col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Add a new space</h1>
        <%= simple_form_for(@space) do |f| %>

          <% if @space.errors.any? %>
            <div>
              <p>Errors</p>
              <ul>
                <% @space.errors.full_messages.each do |message| %>
                  <li>
                    <%= message %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.input :title, placeholder: "eg,) Please come to use our fully equipped kitchen" %>
          <%= f.input :name, placeholder: "eg,) Cosy Kitchen Tokyo" %>
          <%= f.input :category, collection: ["Kitchen", "Garage"], prompt: "Choose the category of your space" %>
          <%= f.input :description, placeholder: "eg,) We have a beautiful, clean, and commercial share kitchen located in Tokyo... "%>
          <%= f.input :city, placeholder: "eg,) Tokyo" %>
          <%= f.input :address, placeholder: "eg,) Tokyo, Japan" %>
          <%= f.input :floor_area, placeholder: "eg,) 20m2" %>
          <%= f.input :facility, placeholder: "eg,) Wi-Fi, Large Mixer, Oven..." %>
          <%= f.input :people_capacity, placeholder: "eg,) 100 people" %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :opening_hours %>
          <%= f.input :closing_hours %>
          <%= f.input :is_barter %>
          <%= f.input :required_skill, collection: ["Cooking", "Cleaning"], prompt: "Choose your skill" %>
          <%= f.input :daily_price, placeholder: "eg,) 100 USD" %>
          <%= f.input :photos, as: :attachinary %>

          <br>
          <%= f.submit "Create", class: "btn btn-success btn-lg" %>
        <% end %>
    </div>
  </div>
</div>
