<% content_for(:title_tag) do %>
  <%= @space.title %> | skill4.space: Match your skills with a space that needs it
<% end %>

<% if @space.photos.count === 1 %>
<div class="slider-for">
  <% @space.photos.each do |photo| %>
    <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.path %>');"></div>
  <% end %>
</div>
<% elsif @space.photos.count === 2 %>
<div class="slider-for-two">
  <% @space.photos.each do |photo| %>
    <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.path %>');"></div>
  <% end %>
</div>
<div class="container">
  <div class="slider-nav-two">
    <% @space.photos.each do |photo| %>
      <div>
        <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.path, width: 300, height: 200, crop: :fill %>');"></div>
      </div>
    <% end %>
  </div>
</div>
<% elsif @space.photos.count >= 3 %>
<div class="slider-for">
  <% @space.photos.each do |photo| %>
    <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.path %>');"></div>
  <% end %>
</div>
<div class="container">
  <div class="slider-nav">
    <% @space.photos.each do |photo| %>
      <div>
        <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.path, width: 300, height: 200, crop: :fill %>');"></div>
      </div>
    <% end %>
  </div>
</div>
<% end %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
          <h1><%= @space.title %></h1>
          <div class="index-tags">
            <div class="category-tag">
              <div>
                <i class="fa fa-home"></i> <%= @space.category %>
              </div>
            </div>
            <%# if @space.is_barter == true %>
              <div class="category-tag barter">
                <div>
                  <i class="fa fa-handshake-o"></i> Barter
                </div>
              </div>
            <%# else %>
              <!-- <div class="category-tag paid">
                <div>
                  <i class="fa fa-money"></i> Paid
                </div>
              </div> -->
            <%# end %>
          </div>
          <p><i class="fa fa-map-marker"></i> <%= @space.address %></p>
          <p><%= @space.description %></p>
          <h2>Desired Skills</h2>
          <!-- Should have dynamical terms -->
          <p><i class="fa fa-key"></i> <span class="require"><%= @space.required_skill %></span> skill for <span class="days">7days</span> use</p>
          <p><%= @space.required_skill_description %></p>
          <h2>Space Details</h2>
          <p><i class="fa fa-wrench"></i><span class="light"> Facilities:</span> <%= @space.facility %></p>
          <p><i class="fa fa-users"></i><span class="light"> Maximum Capacity:</span> <%= @space.people_capacity %></p>
          <p><i class="fa fa-building-o"></i><span class="light"> Floor Area:</span> <%= @space.floor_area %>m&sup2;</p>
          <p><i class="fa fa-clock-o"></i><span class="light"> Opening & Closing Hours:</span> <%= @space.opening_hours %> 〜 <%= @space.closing_hours %></p>
          <br>
          <% if @space.user.user_reviews.count > 0 %>
            <h2>Reviews on the owner</h2>
            <div class="row">
              <% @space.user.user_reviews.each do |review| %>
                <div class="profile-review">
                  <div class="review-left">
                    <% if User.find_by(name: review.reviewer_name).photo.present? %>
                      <%= cl_image_tag User.find_by(name: review.reviewer_name).photo.path, class: "profile-avatar reviewer-avatar" %>
                    <% else %>
                      <%= image_tag "person-placeholder.jpg", class: "profile-avatar reviewer-avatar" %>
                    <% end %>
                    <p><%= review.reviewer_name %></p>
                    <div class="stars">
                      <ul>
                        <% review.rating.to_i.times do  %>
                          <li><i class="fa fa-star starred"></i></li>
                        <% end %>
                        <% (5 - review.rating.to_i).times do  %>
                          <li><i class="fa fa-star"></i></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                  <div class="review-right">
                    <h4><%= review.title %></h4>
                    <p><%= review.content %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="right-pain text-center">
          <h2>Book this place</h2>
          <p class="book-lead">bartering with your <%= @space.required_skill %> skill</p>
          <hr>
          <!-- <h3>Select Dates</h3> -->
          <div class="book-form">
            <% if @space.user == current_user %>
              <button type="button" class="btn btn-success btn-lg" disabled>Your listing!</button>
            <% elsif @space.bookings.present? %>
              <button type="button" class="btn btn-lg btn-primary" disabled>Booked already</button>
            <% else %>
              <%= form_tag(conversations_path, method: :post) do %>
              <%#= form_tag(conversations_path, method: :post, 'data-id': @space.id) do %>
              <%#= text_field_tag :species, params[:species] %>
              <!-- <label class="control-label optional" for="book_start_date">FROM:</label> -->
              <%#= date_field_tag :start_date, params[:start_date], value: @space.start_date, id: "book-start-date" %>
              <!-- <br>
              <label class="control-label optional" for="book_end_date">TO:</label> -->
              <%#= date_field_tag :end_date, params[:end_date], class: "form-top", value: @space.end_date, id: "book-end-date" %>
              <%= hidden_field_tag "space_id", @space.id%>
              <p></p>
              <%= submit_tag "Book ", class: "btn btn-success btn-lg" %>
              <p class="book-lead">and send message<br> to a space owner</p>
              <!-- For payment features -->
              <%#= submit_tag 'PAY WITH SKILLS', name: nil, disabled: true, class: "btn btn-success btn-lg", id: "booking-button" %>
              <!-- <h5>OR</h5> -->
              <%#= submit_tag 'PAY WITH CASH', disabled: true, class: "btn btn-success btn-lg", id: "booking-cash-button" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="pay-option text-center">
          <p>Do you want to pay to use this space?</p>
          <p>Please contact us, <a href="mailto:admin@skill4.space" target="_top">admin@skill4.space</a> to send a request.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map"></div>

<%# content_for(:after_js) do %>
  <%#= javascript_tag do %>
    <!-- $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    }); -->
  <%# end %>
<%# end %>

