<% content_for(:title_tag) do %>
  <%= @space.title %> | skill4.space: Match your skills with a space that needs it
<% end %>

<div class="slider-for">
  <% if @space.photos.empty? %>
    <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "airbnb1.jpg" %>');"></div>
    <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "airbnb2.jpg" %>');"></div>
    <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "airbnb3.jpg" %>');"></div>
    <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "airbnb4.jpg" %>');"></div>
  <% else %>
    <% @space.photos.each do |photo| %>
      <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.path %>');"></div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <div class="slider-nav">
      <% if @space.photos.empty? %>
        <div>
          <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "airbnb1.jpg" %>');"></div>
        </div>
        <div>
          <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "airbnb2.jpg" %>');"></div>
        </div>
        <div>
          <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "airbnb3.jpg" %>');"></div>
        </div>
        <div>
          <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path "airbnb4.jpg" %>');"></div>
        </div>
      <% else %>
        <% @space.photos.each do |photo| %>
          <div>
            <div class="space-show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path photo.path, width: 300, height: 200, crop: :fill %>');"></div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-11">
        <!-- Need to be modified, Tag should be h1 -->
        <h2><%= @space.category %> Opportunity at <%= @space.name %> in <%= @space.address.split(",").last %></h2>
        <p><i class="fa fa-map-marker"></i> <%= @space.address %></p>
        <p><%= @space.description %></p>
        <br>
        <h3>Desired Skills</h3>
        <p><i class="fa fa-key"></i> <%= @space.required_skill %> Skill</p>
        <br>
        <h3>Space Details</h3>
        <h5><i class="fa fa-wrench"></i> Facilities</h5>
        <h5><i class="fa fa-users"></i> Maximum Capacity</h5>
        <h5><i class="fa fa-building-o"></i> Floor Area</h5>
        <h5><i class="fa fa-clock-o"></i> Opening & Closing Hours</h5>
        <br>
        <h3>Reviews</h3>
        <div class="row">
          <ul>
            <% @space.user.user_reviews.each do |review| %>
              <div>
                <li><%= review.title %> | <%= review.content %> | <%= review.rating %>
                </li>
              </div>
            <% end %>
          </ul>
        </div>
        <br>
    </div>
    <div class="col-sm-1">
      <br>
<!--       Add sidebar here to contact, pay, and see/change calendar dates -->
      <%= form_tag(space_path, method: :get, 'data-id': @space.id) do %>
        <%#= text_field_tag :species, params[:species] %>
        <%= date_field_tag :start_date, params[:start_date], class: "input-lg form-top", id: "book-start-date" %>
        <%= date_field_tag :end_date, params[:end_date], class: "input-lg form-top", id: "book-end-date" %>
        <p></p>
        <%= submit_tag 'BOOK', name: nil, disabled: true, class: "btn btn-success btn-lg", id: "booking-button" %>
      <% end %>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 300px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

