<% content_for(:title_tag) do %>
  Cofirm your booking | skill4.space: Match your skills with a space that needs it
<% end %>

<div class="booking-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7">
      <div class id="payment-info">
        <h2 class="text-center">PAYMENT INFORMATION</h2>
          <%= simple_form_for :user, url: user_session_path do |f| %>
            <%= f.input :name, as: :string, label: "Name on card", placeholder: "eg,) Input your name on card" %>
            <%= f.input :country, as: :string, placeholder: "eg,) Japan" %>
            <%= f.input :card_type,  collection: ["Visa", "Mastercard", "American Express"], prompt: 'Choose card type' %>
            <%= f.input :card_number, as: :string ,placeholder: "●●●●　●●●●　●●●●　●●●●"%>
            <%= f.input :expires_on, collection: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"], prompt: "mm" %>
            <%=   f.input :expires_on, label: false, collection: 2017..2030, prompt: "yyyy" %>
            <%= f.input :security_code, as: :string, placeholder: "Input security code on your card" %>
          <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5">
          <div id="booking-details">
          <h2 class="text-center">BOOKING DETAILS</h2>
            <%= simple_form_for [@space, @booking] do |f| %>
              <%= f.hidden_field :start_date, value: @space.start_date %>
              <%= f.hidden_field :end_date, value: @space.end_date %>
              <%#= f.input :duration, input_html: { value: (@pet.end_date.day - @pet.start_date.day + 1) } %>
              <%#= f.input :total_price, input_html: { value: (@pet.daily_price * (@pet.end_date.day - @pet.start_date.day + 1)) } %>
              <%#= f.hidden_field :cocktail_id, value: @cocktail.id %>
              <br>
              <%= f.submit "Confirm booking", class: "btn btn-success btn-lg", style: "width: 100%" %>
            <% end %>
            <br>
            <p class="text-center"><em>You won't be charged until the owner accepts your booking.</em></p>
      </div>
    </div>

  </div>
</div>
