<% content_for(:title_tag) do %>
  Edit your profile | skill4.space: Match your skills with a space that needs it
<% end %>

<div class="profile-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Edit your profile</h1>
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :address %>
          <%= f.input :photo, as: :attachinary %>
          <%#= f.input :photo_cache, as: :hidden %>
          <%# profile_pic = current_user.facebook_picture_url || current_user.photo %>
          <% if @user.photo.present? %>
            <% cl_image_tag @user.photo %>
          <% end %>
          <%= f.submit "Edit", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
