<div class="dashboard-container container">
    <div class="tabs">
        <h2>MY LISTINGS</h2>
    </div>
    <div id="my-items">
      <div id="my-bookings">
        <ul>
          <% @user.bookings.reverse.each do |booking| %>
            <li>
            <div class="product">
<!--               < cl_image_tag booking.photo, height: 200, width: 300, crop: :fill, class: "booking-photo" > -->
                <div class='product-body'>
                  <div class="row">
                    <div class="col-xs-12 col-sm-3 booking-path">
                      <%= Space.find_by_id(booking.space_id).name %>
<!--                       <h3>< link_to booking.name, pet_path(booking)></h3> -->
                    </div>
                  <div class="col-xs-12 col-sm-2 col-sm-offset-0.5">
                    <%= "¥#{booking.total_price}" %>
                  </div>
                  <div class="col-xs-12 col-sm-2 col-sm-offset-0.5 text-center">
<!--                     < "#{booking.start_date.month}/#{booking.start_date.day}/#{booking.start_date.year} to #{booking.end_date.month}/#{booking.end_date.day}/#{booking.end_date.year}" > -->
                  </div>
                  <div class="col-xs-12 col-sm-2">
                    <ul class="list-inline product-controls hidden-sm hidden-xs">
                      <li class="icons"> <%= link_to booking, class: "btn", method: :delete, data: { confirm: "Are you sure?" } do  %><i class="fa fa-ban"></i><% end %></li>
                      <li class="icons"><a href="" title="Contact owner" data-toggle="tooltip"><i class="fa fa-envelope-o"></i></a></li>
                      <li class="booking-status"><a href=""><%= booking.status %></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
</div>

<!-- <div class="container">
  <h1>My listings</h1>
  <% @user.spaces.each do |space| %>
    <ul>
      <li>id: <%= space.id %></li>
      <li>name: <%= space.name %></li>
      <li>address: <%= space.address %></li>
      <li>description: <%= space.description %></li>
      <%= link_to "Detail", space, class: "btn btn-primary" %>
      <%= link_to "Edit", edit_space_path(space), class: "btn btn-primary" %>
      <%= link_to "Delete", space, class: "btn btn-primary",
        method: :delete, data: { confirm: "Are you sure?" } %>
    </ul>
  <% end %>
</div> -->
