<% content_for(:title_tag) do %>
 My Profile | skill4.space: Match your skills with a space that needs it
<% end %>

<div class="profile-container">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="left-profile">
              <% if @user.photo.nil? %>
                <%= image_tag "logo.png", class: "profile-avatar" %>
              <% else %>
                <%= cl_image_tag @user.photo.path, width: 200, height: 300, crop: :fill, class: "profile-avatar" %>
              <% end %>

              <p><i class="fa fa-map-marker"></i> : <%= @user.address %></p>
              <%= link_to bookings_path(@user), class: "btn btn-primary" do%>
                <i class="fa fa-book"></i> Your bookings
              <% end %>
              <%= link_to listings_path(@user), class: "btn btn-primary" do%>
                <i class="fa fa-list-alt"></i> Your listings
              <%= link_to edit_user_path(@user), class: "btn" do%>
                <i class="fa fa-user"></i> Edit profile
              <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="right-profile">
              <h1><%= @user.name %></h1>
              <h3><i class="fa fa-drivers-license"></i> About Me:</h3>
              <p>User's description should be here User's description should be here User's description should be here</p>
              <div class="profile-skills">
                <div class="profile-head">
                  <div>
                    <h3><i class="fa fa-wrench"></i> Skills</h3>
                  </div>
                  <div>
                    <%= link_to "Add skill", new_user_skill_path(@user), class: "btn btn-primary text-right" %>
                  </div>
                </div>
                <ul>
                  <% @user.skills.each do |skill| %>
                    <div class="profile-skill">
                      <li>
                        <p>
                          <%= skill.skill_category %>
                        <%= link_to [current_user, skill], class: "btn", method: :delete, data: { confirm: "Are you sure?" } do %>
                          <i class="fa fa-times"></i>
                        <% end %>
                        </p>
                      </li>
                    </div>
                  <% end %>
                </ul>
              </div>
              <h3><i class="fa fa-users"></i> Your reviews</h3>
              <div class="profile-review">
                <div class="review-left">
                  <!-- Dynamic Reviewer's photo here -->
                  <%= image_tag "jung.jpg", class: "profile-avatar reviewer-avatar" %>
                  <p>Junggun Lee <!-- Dynamic Name here --> </p>
                  <div class="stars">
                    <ul>
                      <!-- Dynamic Reviews here -->
                      <li><i class="fa fa-star starred"></i></li>
                      <li><i class="fa fa-star starred"></i></li>
                      <li><i class="fa fa-star starred"></i></li>
                      <li><i class="fa fa-star starred"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review-right">
                  <h4>Review title here <!-- Dynamic Review title here --></h4>
                  <p>Review content here <!-- Dynamic Review content here --></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
