<div class="profile-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1>Profile page</h1>
        <p>Name: <%= @user.name %></p>
        <p>Email: <%= @user.email %></p>
        <p>Address: <%= @user.address %></p>
        <p>Skills:</p>
        <div class="row">
          <ul>
            <% @user.skills.each do |skill| %>
              <div>
                <li><%= skill.skill_category %> | <%= skill.description %>
                </li>
              </div>
            <% end %>
          </ul>
        </div>
        <div class="btn">
          <%= link_to "Edit profile", edit_user_path(@user) %>
        </div>
        <div class="btn">
          <%= link_to "Add skill", new_user_skill_path(@user) %>
        </div>
      </div>
    </div>
  </div>
</div>
