<h1 class="text-center col-xs-12">Add skill for <%= current_user.name %></h1>

<div class="container">
  <div class="row col-xs-12">
      <%= simple_form_for [current_user, @skill] do |f| %>
        <%= f.input :skill_category, placeholder: "Skill category" %>
        <%= f.input :description, placeholder: "Description" %>
        <%= f.submit "Post", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
