<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url('<%= image_path "coworkingspace.jpg" %>');">
  <div class="banner-content text-center">
    <h1>
      Provide your
      <div class="typewriter">
          <a href="javascript:void(0)" onClick="hogeFunction();return false;" class="typewrite" data-period="2000" data-type='[ "Programming", "Design", "Writing", "Editing", "Teaching", "Translation", "Physical work" ]' >
          <span class="wrap"></span>
          </a>
      </div>
      skill to find a space
    </h1>
    <div class="form-wrapper">
      <%= form_tag(spaces_path, method: :get) do %>
        <%= select_tag "city",
          raw("<option>Select city</option>
          <option>Tokyo</option>
          <option>Osaka</option>
          <option>Fukuoka</option>"),
           class: "input-lg form-top" %>
        <%= select_tag "category",
          raw("<option>Select workspace</option>
          <option>Office</option>
          <option>Coworking</option>
          <option>Design studio</option>
          <option>Music studio</option>
          <option>Dance studio</option>
          <option>Classroom</option>
          <option>Laboratory</option>
          <option>Kitchen</option>
          <option>Garage</option>"),
           class: "input-lg form-top" %>
        <%= select_tag "required_skill",
          raw("<option>Skill to offer</option>
          <option>Coding</option>
          <option>Design</option>
          <option>Teaching</option>
          <option>Music</option>
          <option>Dance</option>
          <option>Cooking</option>
          <option>Farming</option>
          <option>Cleaning</option>"),
           class: "input-lg form-top" %>
        <%#= date_field_tag :start_date, params[:start_date], class: "input-lg form-top" %>
        <%#= date_field_tag :end_date, params[:end_date], class: "input-lg form-top" %>
        <%= submit_tag 'Search', name: nil, class: "btn btn-success btn-lg" %>
      <% end %>
    </div>
  </div>
</div>

<div class="home-wrapper">
  <div class="home-content text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="explanation">
            <h2>Provide your skill and use a space for free</h2>
            <p class="lead">Do you have problems like these,</p>
            <p class="lead last">especially when you are a stranger there?</p>
            <div class="chatting">
              <div class="says left">
                <p>Want to use an office for only a few days... <i class="fa fa-building-o"></i> </p>
              </div>
            </div>
            <div class="chatting">
              <div class="says right">
                <p>Want to use an art gallery for a week... <i class="fa fa-paint-brush"></i> </p>
              </div>
            </div>
            <div class="chatting">
              <div class="says left">
                <p>Want to use an event space... <i class="fa fa-users"></i> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="exp">
    <div class="exp-text">
      <div class="content">
        <p>&lt;As a space user&gt;</p>
        <h2>Provide your skills,<br>and use spaces for free</h2>
        <p>Your skill can be a big help for space owners.<br>Space owners are waiting for you in your town, in your travel destination.<br>Provide your skills, and use spaces for free.</p>
        <div class="exp-btn">
          <%= link_to "#", class: "btn btn-success btn-lg text-center" do %>
            <i class="fa fa-search"></i> Find a space
          <% end %>
        </div>
      </div>
    </div>
    <div class="exp-img" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url('<%= image_path "coworkingspace.jpg" %>');">
    </div>
  </div>
  <div class="exp">
    <div class="exp-img" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url('<%= image_path "coworkingspace.jpg" %>');">
    </div>
    <div class="exp-text">
      <div class="content">
        <p>&lt;As an space owner&gt;</p>
        <h2>Provide your space,<br>and get skilled help</h2>
        <p>Your space can be a big help for skilled workers.<br>There are space users waiting to provide their skills to use your space.<br>Provide your space, and get skilled help.</p>
        <div class="exp-btn">
          <span class="btn-option">Sign up and</span>
          <%= link_to new_space_path, class: "btn btn-success btn-lg text-center" do %>
            <i class="fa fa-list-alt"></i> List your space
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-recommend">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center">Recommended spaces</h2>
          <!-- Recommended spaces (3 latest spaces, if possible, nearby users) -->

          <div class="row-cards">
            <% n = 0 %>
            <% @spaces.reverse.each do |space| %>
              <% if n < 3 && space.bookings.empty? %>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="card-wrapper">
                    <%= link_to space_path(space) do %>
                      <% if space.photos.empty? %>
                        <div class="card" style="background-image: url(http://via.placeholder.com/350x150);">
                        </div>
                      <% else %>
                        <div class="card" style="background-image: url('<%= cl_image_path space.photos.first.path %>');">
                        </div>
                      <% end %>
                      <h2><%= space.title %></h2>
                      <div class="index-tags">
                        <div class="category-tag">
                          <div>
                            <i class="fa fa-home"></i> <%= space.category %>
                          </div>
                        </div>
                        <div class="category-tag barter">
                          <div>
                            <i class="fa fa-handshake-o"></i> Barter
                          </div>
                        </div>
                      </div>
                      <h3>@<%= space.name %></h3>
                      <div class="space-location">
                        <p><i class="fa fa-map-marker"></i> <%= space.address %></p>
                      </div>
                      <div class="space-price text-right">
                        <p>provide your <span class="skill"><strong><%= space.required_skill %></strong></span> skill<br>to use this space</p>
                      </div>
                    <% end %>
                  </div>
                </div>
                <% n += 1 %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var TxtType = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
        };

        TxtType.prototype.tick = function() {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

            var that = this;
            var delta = 200 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
            }

            setTimeout(function() {
            that.tick();
            }, delta);
        };

        window.onload = function() {
            var elements = document.getElementsByClassName('typewrite');
            for (var i=0; i<elements.length; i++) {
                var toRotate = elements[i].getAttribute('data-type');
                var period = elements[i].getAttribute('data-period');
                if (toRotate) {
                  new TxtType(elements[i], JSON.parse(toRotate), period);
                }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
            document.body.appendChild(css);
        };
  <% end %>
<% end %>
