<div class="review-container container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h1 class="text-center">Write a review on</h1>
        <%= link_to user_path(@user) do %>
        <div class="review-on">
          <%= @user.name %>
          <% if @user.photo.present? %>
            <% avatar_url = @user.photo.path %>
          <% else %>
            <% avatar_url = @user.facebook_picture_url || "http://www.queens.edu/_resources/img/placeholders/person-placeholder.jpg" %>
          <% end %>
          <%= cl_image_tag avatar_url, class: "avatar" %>
        </div>
        <% end %>
        <%= simple_form_for [@user, @user_review] do |f| %>
            <% if @user_review.errors.any? %>
              <div>
                <p>Errors</p>
                <ul>
                  <% @user_review.errors.full_messages.each do |message| %>
                    <li>
                      <%= message %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-inputs">
              <%= f.input :title, label: "Review title" %>
              <%= f.input :content, label: "Review content" %>
              <label class="rating-label">*Rating: </label>
              <%= f.collection_radio_buttons :rating, [[1, '1'] ,[2,'2'],[3,'3'],[4,'4'],[5,'5']], :first, :last, class: "radio-rating" %>
              <%= f.hidden_field :booking_id, value: @booking.id %>
            </div>
            <div class="form-actions text-center">
              <%= f.submit "POST REVIEW", class: "btn btn-success btn-lg", data: { confirm: "Are you sure you want to post this review?"} %>
            </div>
        <% end %>
    </div>
  </div>
</div>
