<div class="auth-form container">
    <div class="row">
      <div class="col-xs12 col-md-6 col-md-offset-3">
        <div class="new-form">
          <h2 class="text-center">LOGIN</h2>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, label: false, required: false, autofocus: true, placeholder: 'Enter email' %>
              <%= f.input :password, label: false, required: false, placeholder: 'Enter password' %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "LOGIN", class: "btn btn-success btn-lg" %>
            </div>
          <% end %>
          <div class="links session-links text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
</div>
